<p>You ordered <%= @quantity %> pcs</p>
<p>Each item is EUR <%= @price %></p>
<p>Your country code is <%= @country_code %></p>
<p>Your tax rate is <%= @tax_rate %></p>
<p>Your subtotal before discount is <%= @subtotal %></p>
<p>Discount rate <%= @discount %></p>
<p>Your subtotal after discount is <%= @discounted %></p>
<p>Your final total is <%= @total %></p>