<p>You ordered <%= @quantity %> pcs</p>
<p>Each item is EUR <%= @price %></p>
<p>Your country code is <%= @country_code %></p>
<p>Your tax rate is <%= @tax_rate %></p>
<p>Your subtotal is <%= @subtotal %></p>